<div class="jumbtron">
    <h1 class="display-4 text-center">Greeter</h1>
</div>
 
    <div class="center-block row">
        <div class="text-center">
            <form [formGroup]="form" #myForm="ngForm" >
             
                <div class="form-group center-block inputName">
                    <div class="input-group">
                        <h6 class="text-center px-2 mt-2">
                            Nombre
                        </h6>
                        <input type="text" class="form-control" formControlName="name" placeholder="Ingresa tu nombre">
                    </div>
                </div>

                <div class="column ">
                    <input id="spanish" class="radiobuttoms" type="radio" value="spanish" name="idiom" formControlName="idiom">
                    <label for="spanish">Español</label>
                
        
                
                    <input id="english" class="radiobuttoms" type="radio" value="english" name="idiom" formControlName="idiom" checked>
                    <label for="english">Ingles</label>
                 </div>
          
                 <button class="btn btn-secondary" (click)="greet()" type="submit">Saludar</button>
                 <button class="btn btn-secondary" (click)="nameGreet()" type="submit">Nombre</button>
                 <button class="btn btn-secondary" (click)="sayGoodBye()" type="submit">Despedir</button>
     
                  
            </form>

            <div class="text-center">
                <h6>{{response}}</h6>
            </div>
        </div>
    </div>

